@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#EEEEEE
#C7C8CC
#FFB0B0
#202020
#DC8686
#fde2e2

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_navbar{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #202020;
    background-size: cover;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    justify-content: center;
    text-align: center;
}


.header_navbar .logo a img{
    display: flex;
    background-image: url(../assets/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    border-radius: 50%;
    flex-wrap: nowrap;

}

.header_navbar .h1 h1{
    display: flex;
    width: auto;
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: #EEEEEE;
    text-transform: capitalize;
    font-size: 20px;
    flex-wrap: nowrap;
}

.navbar {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    list-style: none;
}

.navbar li a{
    display: flex;
    font-family: "Roboto", sans-serif;
    color: #EEEEEE;
    text-decoration: none;
    justify-items: center;
    gap: 10px;
    margin: 10px;
    padding-right: 1rem;
}

.main_inicio{
    width: 100%;
    height: 1750px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #C7C8CC;
    background-size: cover;

}

.h2_sobre_mi{
    width: 50%;
    height: auto;
    margin: auto;
    padding: auto;
    font-family: "Poppins", sans-serif;
    background-color: #DC8686;
    text-align: center;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

.main_inicio section .p_sobre_mi{
    width: 70%;
    height: auto;
    margin: auto;
    font-family: "Roboto", sans-serif;
    align-items: flex-start;
    text-align: left;
    font-size: 20px;
    flex-wrap: nowrap;
    text-size-adjust: auto;

}

.button_informacion{
    font-family: "Roboto", sans-serif;
    align-items: center ;

}

.main_inicio div img{
    display: flex;
    background-image: url(./assets/img/sobre_mi.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    width: 30%;
    height:auto;
    flex-wrap: nowrap;
    border-radius: 35%;
    margin: auto;
}

.p_direccion{
    width: 100%;
    height: auto;
    font-family: "Roboto", sans-serif;
    text-align: center;

}

.button_suscribete{
    font-family: "Roboto", sans-serif;
    bottom: 20px;
    justify-items: center;

}

.section_proyecto_pda .h2_inicio{
    width: 50%;
    height: auto;
    margin: auto;
    padding: auto;
    font-family: "Poppins", sans-serif;
    background-color: #DC8686;
    text-align: center;
    text-transform: uppercase;
} 

.section_proyecto_pda iframe{
    width: 50%;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
}


.section_proyecto_pda p{
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-transform: lowercase;
}

.footer_inicio {
    width: 100%;
    height: auto;
    display: grid;
    background-color:#434344;
    font-family: "Roboto", sans-serif;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 50px);
}

.p-principal-footer{
    width: 100%;
    margin: 10%;
    font-size: 16px;
    grid-column: 3/5;
    grid-row: 2/4;

}

.suscripcion{
    font-family: "Roboto", sans-serif;
    margin: 5%;
    margin-top: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #f9f9f9;
    grid-column: 4/8;
    grid-row: 5/6;
    align-self: center;
}
.suscripcion label{
    margin-bottom: 5px;
}
.suscripcion input[type=email]{
    width: 45%;
    border: 1px solid #000000;
    border-radius: 5px;
}
.suscripcion input[type=checkbox]{
   margin-right: 5px;
}
.hr_footer{
    width: 100%;
    grid-column: 1/11;
    grid-row: 6/6;
}
.p_footer{
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #EEEEEE;
    font-size: 10px;
    text-align: center;
    grid-column: 1/11 ;
    grid-row: 6/7;
}
.redes {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    justify-content: center;
    gap: 10px;
    margin: auto;
}
.redes a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.redes img{
    max-width: 100%;
    height: auto;
}



.main_proyectos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #C7C8CC;

}


.main_proyectos section .h2_proyectos{
    width: 50%;
    height: auto;
    margin: auto;
    padding: auto;
    font-family: "Poppins", sans-serif;
    background-color: #DC8686;
    text-align: center;
    gap: 5px;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

.main_proyectos section .h2_eventos_conciertos{
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
    font-family: "Poppins", sans-serif;
    background-color: #FFB0B0;
    text-align: left;
    text-transform: capitalize;
    flex-wrap: nowrap;
}


.main_proyectos .img_proyectos .section_img{
    width: 100%;
    height: 1250px;
    display: grid;
    grid-template-columns: repeat(10, 85px);
    grid-template-rows: repeat(19, 50px);
    gap: 1%;
    align-items: center;
    justify-content: center;
    background-color: #C7C8CC;
    
}
.main_proyectos .img_proyectos .section_img .img_1{
    width: 100%;
    height: auto;
    grid-column: 1/4;
    grid-row: 1/5;
    filter: drop-shadow(0 0 10px rgba(0,0,0.8));
    order: 1;


}
.main_proyectos .img_proyectos .section_img .img_2{
    width: 100%;
    height: auto;
    grid-column: 1/4;
    grid-row: 5/8;
    filter: drop-shadow(0 0 10px rgba(0,0,0.8));
    order: 4;
}

.main_proyectos .img_proyectos .section_img .img_3{
    width: 100%;
    height: auto;
    grid-column: 4/7;
    grid-row: 6/7;
    filter: drop-shadow(0 0 10px rgba(0,0,0.8));
    order: 5;
}
.main_proyectos .img_proyectos .section_img .img_4{
    width: 100%;
    height: auto;
    grid-column: 4/7;
    grid-row: 8/12;
    filter: drop-shadow(0 0 10px rgba(0,0,0.8));
    order: 7;
}



.main_proyectos .img_proyectos .section_img .img_5{
    width: 100%;
    height: auto;
    grid-column: 4/7;
    grid-row: 1/5;
    filter: drop-shadow(0 0 10px rgba(0,0,0.8));
    order: 2;
}

.main_proyectos .img_proyectos .section_img .img_6{
    width: 100%;
    height: auto;
    grid-column: 4/7 ;
    grid-row: 12/19;
    filter: drop-shadow(0 0 10px rgba(0,0,0.8));
    order: 10;

}

.main_proyectos .img_proyectos .section_img .img_7{
    width: 100%;
    height: auto;
    grid-column: 7/10;
    grid-row: 12/19;
    filter: drop-shadow(0 0 10px rgba(0,0,0.8));
    order: 11;
}

.main_proyectos .img_proyectos .section_img .img_8{
    width: 100%;
    height: auto;
    grid-column: 7/10 ;
    grid-row: 1/8;
    margin-top: 5%;
    filter: drop-shadow(0 0 10px rgba(0,0,0.8));
    order: 3;
}

.main_proyectos .img_proyectos .section_img .img_9{
    width: 100%;
    height: auto;
    grid-column: 7/10;
    grid-row: 8/12;
    margin: auto;
    filter: drop-shadow(0 0 10px rgba(0,0,0.8));
    order: 8;
}
.main_proyectos .img_proyectos .section_img .img_10{
    width: 100%;
    height: auto;
    grid-column: 1/4;
    grid-row: 8/12;
    filter: drop-shadow(0 0 10px rgba(0,0,0.8));
    order: 6;
}

.main_proyectos .img_proyectos .section_img .img_11{
    width: 100%;
    height: auto;
    grid-column: 1/4;
    grid-row: 12/19;
    filter: drop-shadow(0 0 10px rgba(0,0,0.8));
    order: 9;
}



@media screen and (max-width: 768px){
    .header_navbar{
    width: 100%;
    height:auto;
    flex-direction: column;
    }
    .header_navbar .logo a img{
        width: 20%;
        height: 30%;
        justify-content: center;
    }
    .header_navbar .h1 h1{
        display: flex;
        font-size: 16px;
        flex-direction: row;
        justify-content: center;
    }
    .navbar li a{
        flex-direction: column;
        width: 100%;
        color: #EEEEEE;
        justify-content: center;
    }
    .footer_inicio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         
    }
    .p-principal-footer{
        width: 100%;
        font-size: 16px;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .suscripcion{
        display: flex;
        justify-content: flex-end;
        align-items: end;
        margin-top: auto;
    }
    .main_proyectos .img_proyectos .section_img{
        height: auto;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(20, 80px);
        background-color: #C7C8CC;
        
    }
    .main_proyectos .img_proyectos .section_img .img_1{
        grid-column: 2/6;
        grid-row: 1/4;
    }
    .main_proyectos .img_proyectos .section_img .img_2{
        grid-column: 2/6 ;
        grid-row: 4/6 ;
    }
    .main_proyectos .img_proyectos .section_img .img_3{
        grid-column: 6/10 ;
        grid-row: 4/6 ;
    }
    .main_proyectos .img_proyectos .section_img .img_4{
        grid-column: 6/10 ;
        grid-row: 6/9 ;
    }
    .main_proyectos .img_proyectos .section_img .img_5{
        grid-column: 6/10;
        grid-row: 1/4;
    }
    .main_proyectos .img_proyectos .section_img .img_6{
        grid-column: 6/9 ;
        grid-row: 14/17 ;
    }
    .main_proyectos .img_proyectos .section_img .img_7{
     display: none;
    }
    .main_proyectos .img_proyectos .section_img .img_8{
        grid-column: 2/4 ;
        grid-row: 6/9 ;
    }
    .main_proyectos .img_proyectos .section_img .img_9{
        grid-column: 2/10 ;
        grid-row: 9/12 ;
    }
    .main_proyectos .img_proyectos .section_img .img_10{
        grid-column: 2/6 ;
        grid-row: 6/9 ;
    }
    .main_proyectos .img_proyectos .section_img .img_11{
        grid-column: 2/5 ;
        grid-row: 13/18 ;
    }    
}   
@media screen and (max-width: 425px){
    .header_navbar{
        display: flex;
        width: 100%;
        height:auto;
        flex-direction: column;
        justify-content: center;
        }
        .header_navbar .logo a img{
            width: 30%;
            height: 10%;
            justify-content: center;
        }
        .header_navbar .h1 h1{
            display: flex;
            font-size: 14px;
            flex-direction: row;
            justify-content: center;
        }
        .navbar{
            display: flex;
        }
        .navbar li a{
            font-size: 10px;
            align-self: center;
        }
        .footer_inicio{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
        }
        .redes a img{
            display: flex;
            width: 100%;
            height: auto;
            justify-content: space-between;
            align-items: center;
        }
        .main_proyectos .img_proyectos .section_img{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
}